[2021-09-29 15:43] brettkoonce opened #37 "vit demo not running past one epoch"
when running the base config, eg:

with the only modification being a batch size of 48 (i am using 2 nvidia gpu's to run things)

at the end of the first epoch the code dies:

[code]

do you have any suggestions on things to check/have you seen this before?

[2021-09-29 17:34] brettkoonce commented on #37
might be upstream fwiw as well: https://github.com/google/jax/issues/8044

[2021-09-30 08:18] MostafaDehghani commented on #37
I'm not 100% sure, but this looks like you ran out of memory when it started doing validation, which is done [at the end of each epoch](https://github.com/google-research/scenic/blob/main/scenic/train_lib/classification_trainer.py#L293).
To check this, can you set `log_eval_steps`  to a small number and also play with `steps_per_eval` in your config file?

[2021-10-15 01:11] vimalthilak opened #57 "Typo in imagenet_dataset.py?"
I suspect ```builder.download_and_prepare()``` should be ```dataset_builder.download_and_prepare()```  in
https://github.com/google-research/scenic/blob/447a219d0e512cc866459667abae3b88fce1728e/scenic/dataset_lib/imagenet_dataset.py#L255

[2021-10-15 18:31] vimalthilak opened #60 "Question(s) on imagenet_dataset"
(thanks for fixing #57 !)

I started playing around with ViT training by using ```imagneet_vit_config.py```. However, I'm seeing the following error in dataset_lib which I'm not sure how to fix

```ValueError: Requested slice [:50000] incompatible with 1000 examples.```
The error occurs for validation set presumably because the library is demanding 50000 validation samples. Two question:
  - Any a

[2021-10-16 19:36] brettkoonce commented on #37
finally managed to test things a bit more locally.  you are correct, it is a memory issue.  having said that, it's not really scenic's fault, just that the code loads imagenet into memory by default (eg ~165GB of ram usage) and if you have less then that things will get wonky!  training fine here!

[2021-10-16 19:36] #37 closed

[2021-10-19 23:07] #60 closed, assigned to MostafaDehghani

[2021-10-25 08:12] moabarar opened #71 "Implementation of End-to-End Object Detection with Transformers"
Hi,

I am currently implementing a Vision Transformer variant with Jax & Flax - and I want to use my classifier as a backbone for downstream tasks such as Object Detection.
In the readme file it is mentioned that DETER was reproduced in Scenic - will this implementation be available ?

Thanks!

[2021-10-26 09:37] #71 closed, assigned to MostafaDehghani

[2021-11-02 16:33] kevinzakka opened #88 "Incomplete Type Hints"
Thanks for this great release, really dig the design split for scenic! I noticed that submodules are partially type hinted (e.g. `common_lib` is but `dataset_lib` isn't) and was wondering if it would be possible to fix via a copybara setting. Would make it great to reuse some of the submodules in personal projects.

Cheers!

[2021-11-02 17:35] MostafaDehghani commented on #88
Hi @kevinzakka Thanks for your interest in Scenic.

Yes, we switched to forcing type annotation for code outside `scenic/projects` directory a while ago (For individual projects, the owners are in charge of this decision), and we are gradually adding missing type annotations, but there are still remaining ones as you also pointed out.
The code in the GitHub repo is in sync with the internal code s

[2021-11-02 19:06] #88 closed

[2021-11-07 15:49] moabarar opened #91 "DETR matcher function"
Hi,

I have several issues regarding the matcher function:

[1] In the default config file the matcher function specified is 'hungarian_cover_tpu'. This function is not supported in the code, the only available Hungarian matching functions are 'hungarian_tpu' and 'hungarian_scan_tpu'. I am trying to run the code on GCP TPU, which one do you think is more efficient ?
https://github.com/google-resea

[2021-11-09 04:08] mlpen opened #94 "Segmentation fault when running vivit experiment"
Hi,

Thanks for sharing the code. I am trying to reproduce the vivit paper results for kinetics-400.
But I got segmentation fault when trying to run `main.py`. I am using 4 x 3090 with cuda 11.2
The jax version is 0.2.24, jaxlib version is 0.1.69, and tensorflow version is 2.7.0.
I've never used jax before, so it is not clear to me what causes this issue. Could anyone help here? The following is t

[2021-11-09 10:26] hmph commented on #94
Hi @mlpen
This looks like an issue with `tensorflow_text`, which is a dependency of the DMVR library that we use for data pre-processing.
I think it is described in this open issue for `tensorflow_text`: https://github.com/tensorflow/text/issues/644

[2021-11-09 10:29] MostafaDehghani commented on #91
Thanks @AlexeyG for sending the fix. Closing this issue. @moabarar feel free to reopen the issue if needed.

[2021-11-09 10:29] #91 closed

[2021-11-09 13:07] mlpen commented on #94
Thanks for replying. I've resolved the error.

[2021-11-09 13:36] mlpen opened #95 "error caused by config.init_from.model_config = None"
Hi,

Do you mind sharing the config.init_from.model_config for vivit project? The config py files in the repo set model_config to None, which causes error when trying to initialize model.

Thanks!

[2021-11-09 14:34] MostafaDehghani commented on #95
Can you specify the config you tried and share the error logs?

[2021-11-10 16:05] MostafaDehghani commented on #94
Thank you @mlpen. Closing the issue. Feel free to reopen if there is any question.

[2021-11-10 17:07] hmph commented on #95
Thank you for bringing this up @mlpen.
This should be addressed by this [commit](https://github.com/google-research/scenic/commit/c3ae6d7b5dc829fafe204a92522a5983959561a0)

[2021-11-11 09:42] mlpen commented on #95
Thanks! This works.

[2021-11-11 09:44] MostafaDehghani commented on #95
Awesome! Thank you @hmph for sending the fix.

[2021-11-11 09:44] #95 closed

[2021-11-11 09:53] mlpen opened #97 "Data Loading for ViViT"
Hi,

I followed the data processing [instruction](https://github.com/google-research/scenic/blob/main/scenic/projects/vivit/data/data.md) to prepare the tfrecord files, but I got this error when trying to start training.
[code]

[2021-11-19 06:48] Zumbalamambo opened #98 "Examples"
Please share some example codes and tutorial codes on usage

[2021-11-19 10:18] MostafaDehghani commented on #98
@Zumbalamambo Thanks for your interest in Scenic.

Have you checked this:
https://github.com/google-research/scenic#getting-started

Also the example colab here:
https://colab.sandbox.google.com/github/google-research/scenic/blob/main/scenic/common_lib/colabs/scenic_playground.ipynb

Do you have any specific question, about the code, project, or baselines?

[2021-11-19 16:51] hmph commented on #97
Hello
It looks like the data was not preprocessed correctly. You can also check the dataset with the unit test [here](https://github.com/google-research/scenic/blob/main/scenic/projects/vivit/data/tests/test_video_tfrecord_dataset.py#L32) (adjust the paths accordingly), or using a Jupyter / Colab notebook to examine a few examples from the data-loader.
Unfortunately, I cannot release the TF-Record

[2021-11-24 05:58] mlpen commented on #97
Ok, Thanks! I will check the unit test.

[2021-12-08 10:45] MostafaDehghani commented on #97
Closing this issue. Feel free to reopen if you had any additional question.

[2021-12-08 10:45] #97 closed

[2021-12-08 10:45] MostafaDehghani commented on #98
Closing this issue as there was no reply. Feel free to reopen if you had any additional question/comment.

[2021-12-08 10:45] #98 closed

[2021-12-09 13:01] F-Yuan303 opened #111 "ModuleNotFoundError: No module named 'scenic.projects.token_learner'"
Hi, why this error occurs when trying to run the code with the command blow
"
python scenic/projects/token_learner/main.py -- \
  --config=scenic/projects/token_learner/configs/im1k_token_learner_config.py \
  --workdir=token_learner/
"

[2021-12-09 14:44] MaxPowerWasTaken opened #112 "Useful for Transfer learning?"
Is it possible to use this TokenLearner within pretrained ViT models for transfer learning? If so, have you seen similar performance benefits?

[2021-12-09 21:32] MostafaDehghani commented on #112
Thank you @MaxPowerWasTaken for the question. If you mean initializing the normal transformer layers from a pretrained ViT, we have tried this. This, unfortunately, doesn't help when there are TokenLearners in between ViT layers.

[2021-12-17 09:16] pabdzadeh opened #123 "ViT ImageNet Pretrained Model Problem with ViViT"
Hey,

I download the pretrained ImageNet21k ViT b_16 model from the urls mentioned in the configuration files, and replace the path in the config file, but for both scenic and bigvision versions I face some problems.

When I put the path to scenic pretrained version, it gives the following error:
`
 raise ValueError('No checkpoint for the pretrained model is found in: '`
`ValueError: No checkpoint

[2021-12-17 12:42] MostafaDehghani commented on #112
Closing this issue, but feel free to reopen if you have more questions or comments.

[2021-12-17 12:42] #112 closed

[2021-12-18 13:25] shreyasarora opened #124 "Input Data for ViViT"
Hello,

I followed the data processing [instruction](https://github.com/google-research/scenic/blob/main/scenic/projects/vivit/data/data.md) to prepare the tfrecord files, but I am getting the following error.

[code]

I ran the [test_video_tfrecord_dataset.py](https://github.com/google-research/scenic/blob/main/scenic/projects/vivit/data/tests/test_video_tfrecord_dataset.py) but it was giving the

[2021-12-22 04:01] leijue222 opened #127 "I can't install the environment"
`pip install .`
Error is
[code]

[2021-12-22 11:54] MostafaDehghani commented on #127
Thank you @leijue222 for brining the issue to our attention. We are working on fixing this, but in the meantime, you can comment out `"install": InstallCommand,` in the [setup.py](https://github.com/google-research/scenic/blob/main/setup.py#L125) and this should solve the issue with installing.

Note that by commenting out this line, depending on your need, you might end up with the need of manual

[2021-12-22 12:02] leijue222 commented on #127
Thank you.

[2021-12-22 12:02] #127 closed

[2021-12-23 21:21] MostafaDehghani commented on #127
Just wanted to say that this issue is not related to Scenic. I was able to reproduce the issue and this was the solution for it in my case:
https://stackoverflow.com/a/41692664

[2022-01-09 19:29] ryanccarelli opened #143 "Support alternative data_augmentations in imagenet_dataset"
We are interested in using scenic's dataset_lib for a self-supervised learning project. The current imagenet_dataset is limited to either "default" augmentation (random crop, reshape, flip) or "None" (center crop, reshape). Some self-supervised learning models rely on alternative augmentations like random_resized_crop.

I could PR, (a) a solution that allows users to pass arbitrary preprocessing f

[2022-01-09 19:34] MostafaDehghani commented on #143
Hi @ryanccarelli,

Thanks for your interest in Scenic and this is exciting that you are considering Scenic for your self-supervised learning project.
We have a much more flexible and complete input-pipeline internally (that is somehow inline with proposal (a) from you) and we are in the are in the process of open-sourcing it. So hopefully soon, we will have that in Scenic.  I can keep this issue o

[2022-01-09 21:21] ryanccarelli commented on #143
Thank you for your fast response! It would be great if you could share an approximate timeline (weeks? months?) so we can plan around this

[2022-01-11 10:40] MostafaDehghani commented on #143
Sorry for a bit of delay! I was checking with people about the timeline and I think the part that is related to your need can be open-sourced sooner than the rest and I can spend some time to hopefully get it out in a few days.

[2022-01-11 15:58] ryanccarelli commented on #143
Thank you again, this project has been very useful for us

[2022-01-11 22:57] #143 closed

[2022-01-11 22:59] MostafaDehghani commented on #143
An input pipeline that is much more flexible is now open-sourced. I also released some config files in #148 To show how to use this pipeline. Please let us know if you had any question or any issue.

[2022-01-18 10:35] moabarar opened #162 "Working with Imagenet-21K"
Hi,

Thanks again for this wonderful library!
This is not really an issue - sort of a feature request.
What would be the best way to work with ImageNet-21K using Scenic?
TFDS support only the ImageNet-1K dataset.

[2022-01-20 14:11] MostafaDehghani commented on #162
Hi @moabarar,

We can release the config files for standard hyperparameter for training different models on ImageNet-21k as well as the  preprocessing when it becomes available on TFDS.

Unfortunately, [it seems](https://github.com/tensorflow/datasets/issues/3414) this is not the case yet.  I'll ask around what is the state of it and will keep you posted on it.

[2022-01-23 16:23] moabarar commented on #162
Thanks Mostafa for the reply!

[2022-01-27 11:39] Anirudh257 commented on #111
@F-Yuan303 I think that this is due to relative imports.

[2022-01-27 12:46] MostafaDehghani commented on #111
I think a `_init_.py` is missing and I look at it later, but feel free to send a PR if you have a fix.

[2022-01-27 12:49] MostafaDehghani commented on #162
I checked internally and the TFDS team is super busy with higher priorities than adding new datasets, but they are happy to get PR for adding im21k to TFDS.

[2022-01-27 12:50] MostafaDehghani commented on #162
Closing this issue as this is mainly related to TFDS and at this point and we don't have any solution for Scenic users. But I keep following up internally on how we can facilitate this request.

[2022-01-27 12:50] #162 closed

[2022-02-02 17:41] briancheung opened #189 "_IMPORT_TABLE entry in datasets.py for the DETR project?"
Is there a dataset available for the DETR configuration that can be added to the _IMPORT_TABLE here?
https://github.com/google-research/scenic/blob/ed176cb0bd62345102a560736fc5a4a3b1561161/scenic/dataset_lib/datasets.py#L34

For the DETR project which has this dataset name?

https://github.com/google-research/scenic/blob/ed176cb0bd62345102a560736fc5a4a3b1561161/scenic/projects/baselines/detr/confi

[2022-02-02 18:00] MostafaDehghani commented on #189
Thank you @briancheung for bringing this to our attention. Adding `coco_detr_detection` to the dataset registry got omitted in the export to open-source.
#190  fixes this issue!

[2022-02-02 18:25] #189 closed

[2022-02-10 11:20] jrabary opened #205 "How to download kinetics dataset ?"
Dear all,

We would like to run experiment similar to ViViT and token learner on kinetics dataset. How can we download the kinetics dataset and create the corresponding TFRecords. We could not find any documentation on this.

[2022-02-18 07:06] Shengyuan-Z opened #212 "ERROR: ResolutionImpossible"
I use conda to create python3.9, and then enter this directory and use command, "pip install . -i https://pypi.tuna.tsinghua.edu.cn/simple"(coz I'm in China), to install the environment. But something goes wrong.

Details are as follows:

[code]

What should I do to fix this? I don't know how to balance the versions of all dependecies, which I guess can solve it.

[2022-02-21 09:02] Shengyuan-Z commented on #212
Chinese pip resource websites haven't included the dependency, tf-nightly, yet. So, in Chinese mainland, you need to download the .whl file to install it to get a better downloading speed.

[2022-02-21 09:04] #212 closed

[2022-02-21 10:20] MostafaDehghani commented on #212
Thank you @Shengyuan-Z for adding a response on the fix you found. We had no idea about potential issue and your response is a good pointer for future similar problems.

[2022-02-21 23:53] hanhung opened #213 "AssertionError: Duplicate registrations for type 'experimentalOptimizer'`"
Hello, I am trying to import clip using scenic by using:
`from scenic.projects.baselines.clip import model as clip`
However, an error like this occured:
`tensorflow.python.framework.errors_impl.AlreadyExistsError: Another metric with the same name already exists.`
I have tried downgrading keras as suggested [here](https://stackoverflow.com/questions/58012741/error-importing-tensorflow-alreadyexist

[2022-02-22 08:52] hanhung commented on #213
Seems like a problem with the keras package. Removing the optimizer folder from the keras package in the anaconda environment fixed this ([following this](https://www.reddit.com/r/tensorflow/comments/srv3fe/weird_assertion_error_assertionerror_duplicate/)).

[2022-02-22 08:52] #213 closed

[2022-02-25 03:10] hillaric opened #216 "tensorflow.python.framework.errors_impl.AlreadyExistsError: Another metric with the same name already exists"
When I try to fix this bug, someone propose to change the version of keras=2.6.0， but it does not work for this project, could anyone give some suggestions?

[2022-02-25 08:48] MostafaDehghani commented on #216
#213 could be relevant to your issue.
This seems like a bug in Keras, but we will look into and see if we can get around it.

[2022-02-25 09:28] hillaric commented on #216
I fix this bug by uninstall keras-nightly. However, another appear, "the per-host batch size must be equal to the number of local devices. This ensures that each TPU device is processing different views of the same original video".  I found jax.local_device_count() = 1, it should be 8. The question is that jax can not find 8 GPUs, anyone could give some help?

[2022-02-25 09:53] #216 closed

[2022-02-28 10:31] hillaric opened #220 "Time Cost of training one epcoh for vivit-base"
In my experiment, one epoch costs around 8h, it is correct? I think it's too slow compared with other models.

[2022-03-01 02:15] #220 closed

[2022-03-01 02:15] hillaric opened #224 "How to load a pretrained model to finetune, the pb file is only for inference?"

[2022-03-01 10:19] MostafaDehghani commented on #224
Hi @hillaric
We have a whole set of great functionalities and training loops for the transfer setup (full finetuning, fewshot, linearprob, ...) and we are in the process of open-sourcing it. That will makes things super easy. You can wait a bit for that or you can just hack in loading of the pretrained models into your training loop, similar to what is done in the trainer of the ViViT project.
I'l

[2022-03-02 03:31] namhar opened #227 "ViViT strange results using scenic checkpoints."
We are using ViViT base checkpoint and code provided in scenic and obtain strange inference results on K400 test set (no training, just inference from the checkpoint).

- When we use the full K400 test set as the test set (~33k samples)
         `Results: I0222 07:01:57.562714 140194510305024 logging_writer.py:35] [7650] test/accuracy=0.002614,test/accuracy_top_5=0.012980, test/loss=5.991464`

- W

[2022-03-11 08:11] Fredbcx commented on #227
How did you load a model?

[2022-03-14 19:36] kar9999 commented on #123
Hi, I have the same question. Do you have the solution?

[2022-03-15 17:29] MostafaDehghani commented on #123
We'll look into this soon and send a fix, but in the meantime,  I think replacing `restored_params = tree['opt']['target']` with `restored_params = tree['target']`  would solve the issue.

[2022-03-16 13:54] kar9999 commented on #123
Thanks for your answer. When I choose bigvision version, I download it through [https://storage.googleapis.com/vit_models/imagenet21k/ViT-B_16.npz](url)
Then this happens `restored_params = tree['opt']['target']
KeyError: 'opt'`
Then I replacing `restored_params = tree['opt']['target'] with restored_params = tree['target']` . Another problem comes.
`restored_params = tree['target']
KeyError: 'targ

[2022-03-16 19:42] Nada-Baili commented on #227
Same here! I am getting suspiciously low accuracy results on Kinetics400 using a pretrained ViVit 16x2 FE (Inference only).

[2022-03-16 19:48] Fredbcx commented on #227
Can you please tell me how did you load the model, i'm struggling with tensorflow

[2022-03-16 20:06] Nada-Baili commented on #227
@Fredbcx I downloaded a checkpoint from the model zoo [https://github.com/google-research/scenic/tree/main/scenic/projects/vivit](url). You need to place the checkpoint in the folder of the model. For example, if you want to run vivit with ViT-Large, then place the checkpoint in vivit_large_factorised_encoder (the folder will be created automatically).
One trick that I found after many trial and e

[2022-03-18 05:12] namhar commented on #227
We have found the issue. It has to do with the label mappings not being aligned between train and validation/test. (ie. class strings to class indices do not match); so its also related to DMVR.

Our workaround was to generate a unique label mapping for our processed data, save that and pass that in which lets us train and test with reasonable results so far.

However we cannot run the scenic prov

[2022-03-31 04:56] wentaozhu opened #254 "How to prepare the data for projects/mbt?"
The dataset processing is unclear. The readme only shows "Additionally, pre-process the training dataset in the same way as done by the ViViT project [here](https://github.com/google-research/scenic/tree/main/scenic/projects/vivit/data/data.md)." And vivit refers the pre-processing to hmdb pro-processing in dmvr.

From this information, it is pretty hard for users to run the code. The only data pr

[2022-04-01 16:29] wentaozhu commented on #254
Thank you so much, Mostafa! @MostafaDehghani

[2022-04-19 03:18] INF800 opened #278 "Unable to install scenic from requirements.txt in docker"
Hi, I am trying to build docker image using

https://github.com/google-research/google-research/blob/eaa1a3f4c7e223f86c5266605c8aaf5b09df640b/dreamfields/Dockerfile#L1-L14

But the process halts at scenic with following error.

`requirements.txt` relevant content

[code]

error log:

[code]

[2022-04-19 09:54] INF800 commented on #278
I think these bloggers did a fair job of explaining the issue. https://exerror.com/solved-the-unauthenticated-git-protocol-on-port-9418-is-no-longer-supported/

It seems I need to change my git config.

[2022-04-19 11:24] leijue222 opened #279 "Does TokenLearner only square inputs supported?"
TokenLearner has versions of v1.0 and v1.1.
https://github.com/google-research/scenic/blob/98fdaae2be238e233ba213643c41227bb8f60fb3/scenic/projects/token_learner/model.py#L140-L141
The v1.1 said only supported square inputs.
Does the V1.0 version also support square input? Why?

[2022-04-20 18:48] INF800 commented on #278
[code]

did the trick!

[2022-04-21 06:47] leijue222 commented on #279
I want to convert your code to PyTorch, but I don't know much about Jax.
Could you give me a sample of how to use it in Jax like this:
[code]

[2022-04-21 07:32] leijue222 commented on #111
Both vivit and token_learner can't be found whne imort them

[2022-04-21 07:38] MostafaDehghani commented on #278
Awesome! Thanks for posting the solution here.

[2022-04-21 07:38] #278 closed

[2022-04-21 12:51] VinKK1998 commented on #254
Could you provide a script for generating correspoding tfrecords file from audioset dataset?

[2022-04-21 20:23] mryoo commented on #279
Hi, I updated [model.py](https://github.com/google-research/scenic/commit/d795fc4af9ca2276c78c97602e0733f9a3046e6d) so that V1.1 supports inputs with none square shapes. V1 only supports square inputs at this point.

In JAX, we follow the channels-last format. The input to the TokenLearner V1.1 module is [B, H, W, C] or simply [B, HW, C]. For 224x224 images with ViT, this typically would be [B, 14

[2022-04-21 20:44] mryoo commented on #279
To further clarify:

V1.1 module supports non-square 4D tensor inputs with [B, H, W, C] and any 3D tensor inputs with [B, HW, C].

V1 module also supports non-square 4D tensor inputs with [B, H, W, C]. However, for 3D tensor inputs with [B, HW, C], it expects HW to be squared for now.

[2022-04-22 01:16] leijue222 commented on #279
Thanks, my purpose is to apply TokenLearnner in the field of Human Pose Estimation, so the width and height of each patch are not equal.

For the code in the TokenLearner part, I can read it even if I don't know Jax, because each step has detailed shape annotations, like this:
https://github.com/google-research/scenic/blob/d795fc4af9ca2276c78c97602e0733f9a3046e6d/scenic/projects/token_learner/mode

[2022-04-22 12:22] leijue222 commented on #279
Since ImageNet, inetics-400, Kinetics-600, Charades, and AViD are all used for classified tasks.
Moreover, I want to know if you have used TokenLearner in regression tasks?
(such as Image segmentation, heatMap estimation, and so on.）
I would be interested to see how reducing the number of tokens on a more fine-grained regression task would affect performance.

[2022-04-22 22:16] mryoo commented on #279
We will update the TokenFuser documentation soon.

We have not tried this on segmentation but we tried it on other types of regression tasks for robotics, and it worked fine in our case.

[2022-04-25 19:43] a-nagrani commented on #254
Hi, sorry but we can't release our data processing scripts. However you can follow the instructions here: https://github.com/deepmind/dmvr/tree/master/examples to create tfrecords files in the correct DMVR format.

[2022-05-03 03:33] narain1 commented on #205
[Kinetics dataset](https://deepai.org/dataset/kinetics-400) then you can serialize it the way you want

[2022-05-10 08:02] #279 closed

[2022-05-11 03:06] leijue222 commented on #279
[code]

[2022-05-11 10:36] adwardlee opened #306 "how to run vivit in Epic Kitchens dataset?"
Hi,

In the vivit project, the '''epic_kitchens/vivit_large_factorised_encoder.py'''  seems cannot match to the default dataloader. Could you please update the corresponding dataloader? Thanks.

[2022-05-13 11:38] itaicaspi-mirrori opened #309 "OWL-ViT checkpoints not found"
Thanks for the great work!

I am getting an error when trying to download any of the checkpoints listed in the main project page:
https://github.com/google-research/scenic/tree/main/scenic/projects/owl_vit

This is the error:
[code]

[2022-05-13 11:56] mjlm commented on #309
Hi, thanks for your interest! The checkpoints will be available in a few hours.

[2022-05-13 21:48] #309 closed

[2022-05-14 09:37] drchrisscheier opened #315 "Error running OWL-ViT Colab"
Hi there,

thank you very much for the extremely impressive work on OWL-ViT and for providing code, checkpoints and even a Colab to try it.

When running the Colab "as is", I am getting this error:
ScopeParamShapeError: Inconsistent shapes between value and initializer for parameter "positional_embedding" in "/clip/text": (16, 512), (15, 512)

it would be great if you can let us know how to fix th

[2022-05-14 10:30] mjlm commented on #315
Hi Chris,
Thanks for your interest! Some bugs always slip through...this should be fixed now. Please don't hesitate to reach out again if you find other issues or have any questions.

[2022-05-14 10:30] #315 closed

[2022-05-14 10:59] NielsRogge commented on #315
It's not fixed yet.. running the notebook in Colab, the error now is:

[code]
I fixed it manually by padding the queries myself, as follows:

[code]

[2022-05-14 17:21] drchrisscheier commented on #315
Hi there,
thank you very much for the quick reply and fix!
Best
Chris

[2022-05-17 07:19] XiongweiWu opened #319 "Questions about Table 1 in the paper owl-vit"
In Table 1, you have "backbone" and "Image-Level" models to encode visual features (ViT-B/32 and CLIP in Row9, etc.). And according to the paper, the backbone of OWL-ViT should be the same as Image-Level model, which is further finetuned on the detection dataset.
I have two questions here:
- Are the Image-Level models different if the corresponding backbones are different? E.g., in Row9 and Row10,

[2022-05-17 08:40] #319 closed

[2022-05-17 20:12] taoyang1122 opened #321 "Installation Issue"
I am trying to install scenic following the instructions (pip install .). I am using conda to create environment. Python=3.9.1, pip=21.2.4. I am getting the following information
`INFO: pip is looking at multiple versions of pandas to determine which version is compa
tible with other requirements. This could take a while.`
`INFO: This is taking longer than usual. You might need to provide the depe

[2022-05-17 20:52] bashayerAlsalman opened #323 "Factorised dot-product attention model"
Hello everyone,
I could not find the official implementation of Factorised dot-product attention, will it be provided soon?
thank you

[2022-05-18 07:24] MostafaDehghani commented on #323
Hi @bashayerAlsalman,
If you are referring to the factorized dot-product attention in ViViT project/paper, here you can find the code:
https://github.com/google-research/scenic/blob/main/scenic/projects/vivit/model_utils.py#L46

[2022-05-18 16:22] taoyang1122 commented on #321
The problem is similar to this [link](https://discuss.tensorflow.org/t/object-detection-installation-dependency-problems/2983), and it is solved by doing it another time after it times out.

[2022-05-18 19:20] bashayerAlsalman commented on #323
@MostafaDehghani Thank you, appreciated your fast response

[2022-05-19 08:04] MostafaDehghani commented on #323
No problem at all :)

[2022-05-19 08:04] #323 closed

[2022-05-19 10:09] Edwardmark opened #325 "For OWL-ViT, is there a demo which shows the way using image patch as querys to do one-shot detection?"
Hi, thanks for your great work. And the demo of text zero-shot is amazing.
For OWL-ViT, is there a demo which shows the way using image patch as querys to do one-shot detection?
Thanks.

[2022-05-19 14:57] Vancause commented on #321
I have the same issue. When I reinstalled the packages, the problems still occurred. It costs much more time and storage.

[2022-05-20 06:23] mjlm commented on #325
Hi, we're actively working on this demo and will let you know when it's available, hopefully some time next week.

[2022-05-21 11:43] wusize opened #327 "Interpolation of positional embedding"
Hi!

When you interpolated the positional embedding, did you reshape it into a 2d feature map and apply bilinear interpolation or just use a 1d linear interpilation directly on the embedding vector?

[2022-05-21 18:03] MostafaDehghani commented on #327
Hi @wusize,
Can you provide more context? Which project this question is about?

[2022-05-22 12:30] wusize commented on #327
Hi! Thanks for your response. The question is about the [OWL-ViT](https://github.com/google-research/scenic/tree/main/scenic/projects/owl_vit).

[2022-05-22 21:28] AlexeyG commented on #327
Hi @wusize,

Thanks for your question and your interest in OWL-ViT!

The visual tower positional embeddings were resized as a 2D grid using the `scipy.ndimage.zoom` function with `order=1`. Hope this clears things up.

~Alexey

[2022-05-22 21:28] #327 closed

[2022-05-24 15:09] lyshuga opened #329 "Freeze during evaluation/train step with pmap and multi-gpu"
Hello,

I am working currently with ViVit Scenic project (https://github.com/google-research/scenic/tree/main/scenic/projects/vivit) which is based on JAX.

And one of the problem that was encountered is that during the evaluation step or train step the process just hangs randomly (can happen in 1 hour of training or in 30 hours). This hang happens somewhere inside the pmapped eval/train function.

[2022-05-25 03:57] Edwardmark opened #330 "For owl_vit, what is the inference time in gpu?"
Hi, for owl_vit, what is the inference time in gpu? I tried your demo, and found out it takes more than 3 second for one image forwad. Is that true?

[2022-05-25 09:57] MostafaDehghani commented on #321
Thanks for letting us know and sorry for the inconvenience! #332 should fix this issue. Feel free to reopen this issue if you had any other problem.

[2022-05-25 09:57] #321 closed

[2022-05-25 10:18] mjlm commented on #330
No, fortunately OWL-ViT is faster than that :)

For simplicity, the minimal example doesn't apply just-in-time compilation. [Here](https://colab.research.google.com/gist/mjlm/193452ef1970d2c64537f3ac0cbde635/owl-vit-inference-speed.ipynb) is a colab that shows how to get more realistic numbers (scroll down to the bottom of the colab).

With compilation, the time is down to 200ms per forward pass.

[2022-05-25 10:18] #330 closed

[2022-05-27 09:23] Edwardmark opened #336 "Is it possible to inference OWL-ViT with smaller input resolution?"
Hi, OWL-ViT is amazing but the inference speed is not so fast. I am wondering if it is possible to inference the model with smaller input resolution. For example, how to inference 224x224 image with positional embedding trained with 768x768?

Thanks.

[2022-05-27 09:26] Edwardmark commented on #325
@mjlm And what prompt is used in coco evaluation? In the paper, it says it uses the seven best prompts, so what are the seven best text prompts? Thanks.

[2022-05-27 10:13] AlexeyG commented on #325
The prompts can be found in the CLIP [repository](https://github.com/openai/CLIP/blob/e58d49454c92986a1d2a6a48add2333bbfbeaf51/notebooks/Prompt_Engineering_for_ImageNet.ipynb). During inference we used the 7 ensembling prompts from the colab.

[2022-05-27 10:21] AlexeyG commented on #336
Hi @Edwardmark,

Happy to hear that you like OWL-ViT. Thanks!

Regarding improving the inference speed, there are several knobs that can be tuned to improve it. Reducing the input image resolution is one, and using a smaller model is another one. Having said that, you should expect that turning down either of these knobs will  reduce the models performance.

We have not attempted downsizing the em

[2022-05-30 02:04] Edwardmark commented on #336
@AlexeyG Thanks. I think smaller model would really help, looking forward to the release.

[2022-05-30 02:04] #336 closed

[2022-05-30 02:50] Edwardmark opened #337 "For scenic model, how to convert it to onnx or tensorRT ?"
Hi, could you please tell me if it is possible to convert scenic model to onnx  or tensorRT? Thanks.

[2022-05-30 07:35] MostafaDehghani commented on #337
Hi @Edwardmark,

We don't have any particular tooling to support that (and not sure if I know anyone who did that before). We only support JAX2TF (export Scenic models to tensorflow model).

[2022-05-30 07:39] Edwardmark commented on #337
@MostafaDehghani could you please tell me how to convert scenic to tensorflow? Thanks.

[2022-05-30 07:41] MostafaDehghani commented on #337
Oh, sorry! I closed the issue by accident! :D

[2022-05-30 07:42] MostafaDehghani commented on #337
Here you can find the code for doing that: https://github.com/google-research/scenic/blob/main/scenic/common_lib/export_utils.py

[2022-05-30 07:43] Edwardmark commented on #337
@MostafaDehghani Thanks. I will try it.

[2022-05-30 08:00] Edwardmark commented on #337
@MostafaDehghani is there a example for how to use the code? I want to convert OWL-VIT model to tensorflow frozen model (protobuf).

[2022-05-31 03:19] Edwardmark commented on #337
@MostafaDehghani hi, is there any update?

[2022-05-31 14:13] mjlm commented on #337
Should be fixed now as of #341.

[2022-06-06 02:22] Edwardmark commented on #336
@AlexeyG @mjlm So how to convert the owl-vit model to tensorflow? Is there a demo to show that？ Thanks.

[2022-06-06 02:23] Edwardmark commented on #337
@mjlm  Thanks. It really helps.

[2022-06-06 07:25] #337 closed

[2022-06-08 01:34] taoyang1122 opened #351 "How is the temporal transformer in Model 2 initialized?"
Thanks for the great work. I found some details about initialization in Sec 3.4, but I am not sure about the initialization of temporal transformer encoders in Model 2. Are these layers randomly initialized? Thanks.

[2022-06-08 10:45] MostafaDehghani commented on #351
@taoyang1122  Thanks for you question!
Can you mention which project you're referring to?

[2022-06-08 12:57] taoyang1122 commented on #351
Sorry for the confusion. I mean Model 2 in ViViT (Fig. 4). Thanks.

[2022-06-08 13:04] MostafaDehghani commented on #351
Yes, in Model 2 (Factorized Encoder), temporal encoder is initialized randomly!

[2022-06-08 15:42] taoyang1122 commented on #351
Thanks for confirming! Another question is that in Model 2 at the input to the Spatial encoders, are all the input frames sharing the same cls_token or each frame has a sepaprate cls_token? Thanks!

[2022-06-08 15:49] MostafaDehghani commented on #351
No problem.
Yes.  We [create the CLS token inside the `vit_body` function](https://github.com/google-research/scenic/blob/6dd96c5ce73cf2ac3e3e72dd91e558046e0b7136/scenic/projects/vivit/model.py#L554) that we [vmap it](https://github.com/google-research/scenic/blob/6dd96c5ce73cf2ac3e3e72dd91e558046e0b7136/scenic/projects/vivit/model.py#L581), thus we use exactly the same set of parameters (includin

[2022-06-08 15:51] taoyang1122 commented on #351
Thanks for your prompt reply. That is really helpful!

[2022-06-11 19:40] stevebottos commented on #325
Is this still in the works? I've been interested in seeing how image input queries could be used as well

[2022-06-11 20:47] xishanhan commented on #325
Hi, is this one-shot detection demo finished? I'm also very interested in it and want to try.

[2022-06-13 09:54] mjlm commented on #325
We're still working on this and will let you know here when the demo is ready. I re-opened the issue to keep track.

[2022-06-13 09:58] xishanhan commented on #325
That would be very nice, thank you!

[2022-06-22 13:43] mjlm commented on #325
We just added a [Playground Colab](https://colab.research.google.com/github/google-research/scenic/blob/main/scenic/projects/owl_vit/notebooks/OWL_ViT_inference_playground.ipynb) with an interactive demo of both text-conditioned and image-conditioned detection:

<img src="../raw/main/scenic/projects/owl_vit/data/text_cond_wiki_stillife_1.gif" alt="OWL-ViT text inference demo" height="200"/>   <img

[2022-06-22 13:54] xishanhan commented on #325
Thanks for your reply！I don't have any problems now.

[2022-07-01 03:05] encounter1997 opened #372 "Will CLIP pre-trained owl-vit weights be made available?"
Hi, thanks for your excellent work on open-vocab object detection.
It seems that all available owl-vit weights have already been fine-tuned on downstream object detection datasets. I wonder will CLIP pre-trained owl-vit weights be made available?

[2022-07-01 14:25] TLi347 opened #374 "variable "simple_tokenizer" is missing"
In the 10 line in scenic/projects/baselines/clip/tokenizer.py:

       ` from clip.simple_tokenizer import SimpleTokenizer`

But there are no objects or files including "simple_tokenizer"

[2022-07-01 14:37] AlexeyG commented on #374
This file is a part of the official CLIP code release:

https://github.com/openai/CLIP/blob/main/clip/simple_tokenizer.py

[2022-07-01 14:37] #374 closed

[2022-07-01 14:39] #325 closed

[2022-07-01 23:34] lucasliunju opened #376 "Masked AutoEncoder"
Hi,

Thanks for your contribution. May I ask do you plan to release the code about MAE with scenic.

Best,
Lucas

[2022-07-19 07:28] cakeinspace opened #407 "Initialization of model"
I noticed that flax provides multiple initializers in the form of flax.linen.initializers. Looking through the unet code i couldnt see it being used. So i wanted to know the current initialization strategy. Is it completely random and how it compares to the way networks are initialized in pytorch and will it affect the training dynamics, convergence etc.

[2022-07-20 10:04] alaradirik opened #413 "Adding OWL-ViT to HuggingFace Transformers"
Hi,

I've implemented OWL-ViT as a fork of [🤗 HuggingFace Transformers](https://github.com/huggingface/transformers.git), and we are planning to add it to the library soon (see https://github.com/huggingface/transformers/pull/17938). Here's a notebook that illustrates inference with it: https://colab.research.google.com/drive/1IMPWZcnlMy-tdnTDrUcOZU3oiGg-hTem?usp=sharing

I really like the simplic

[2022-07-21 07:05] AlexeyG commented on #413
Hi Alara,

Many thanks for doing the work of implementing OWL-ViT in HuggingFace. This is really cool and an exciting thing for us.

I joined the Google AI org on Hugging Face hub. Do I need to take any additional steps on my side at this stage?

Thank you,
Alexey

[2022-07-21 09:20] alaradirik commented on #413
Great, thank you Alexey! No need to take any additional steps, we will transfer the repo ownership to the Google AI org shortly.

Best,
Alara

[2022-07-29 16:03] MostafaDehghani commented on #407
Any flax layer has an argument specifying the initialization. If we don't specify it (e.g., convs in the UNet code in Scenic), it uses the default from flax: https://github.com/google-research/scenic/blob/31e55cdadc3f02f48e0d700ea943d2f9d43c85b1/scenic/model_lib/layers/masked_layers.py#L438
Hope this is clear.

[2022-08-01 13:41] realgump opened #432 "Num_layers of temporal transformer in checkpoint don't match?"
I try to load _vivit_base_fe_ model using _flax.training_, and find the numbers of layers of SpatialTransformer and TemporalTransformer are **both 12.** However, when I check [vivit_base_factorised_encoder](https://github.com/google-research/scenic/blob/7d1a639c969a7ba03d70af4ee571e65084fe1a2b/scenic/projects/vivit/configs/kinetics400/vivit_base_factorised_encoder.py), I find **config.model.tempor

[2022-08-04 09:15] jayathungek commented on #254
Hi all, I have a few questions about reproducing this project as well:

1. I suppose this means that we have to download the Youtube videos ourselves and apply the pre-processing as per https://github.com/deepmind/dmvr/tree/master/examples - Is that correct?

2. Also, to expand on @wentaozhu's point, MBT supports RGB as well as spectrograms, but in your `projects/mbt/configs/audioset/balanced_audi

[2022-08-05 09:24] JosephKJ opened #433 "When can we expect the training code for OWL-ViT?"
Thanks for your amazing work. Would it be possible to provide an estimate on when the training code would be released?

[2022-08-05 10:00] mjlm commented on #433
We're working on releasing the training code but cannot give a precise ETA yet. It will take at least a few more weeks. I'll keep you posted.

[2022-08-05 11:57] cakeinspace commented on #407
hey yes it does thanks a lot for your clarification.  i will close it

[2022-08-05 11:57] #407 closed

[2022-08-06 08:19] NielsRogge commented on #413
The model is now available here: https://huggingface.co/docs/transformers/model_doc/owlvit.

We shared it on [Twitter](https://twitter.com/NielsRogge/status/1555567694883307520) and [LinkedIn](https://www.linkedin.com/feed/update/urn:li:activity:6961331213902970881/) and people seem to really like it :D

[2022-08-06 17:34] uck16m1997 commented on #254
Hello everyone,

I also got some questions for the data preparing process. I couldn't find answers for these in the paper.

1) To get the log mel spectrograms from the audio data. In the process of converting from amplitude to db what reference point was used ?(1, max, median...)

2) I didn't see it get mentioned in the paper but I've seen in the code there is optional zero centering for both the

[2022-08-08 13:35] austinmw opened #437 "Fixing poor localization in OWL-ViT"
Hi, I seem to be getting poor localization using huggingface OWL-ViT, and am wondering if there's anything I can do to improve it? For example:

[code]

![image](https://user-images.githubusercontent.com/12224358/183430732-366081a1-9b0d-417c-aee3-a2533a4c7090.png)

[2022-08-08 13:47] #437 closed

[2022-08-11 17:30] gurinvlad45 commented on #123
Have the same issue, which version of the model should I use? Which one works?

[2022-08-17 07:45] farrokhsiar opened #449 "OWL-ViT models pre-trained checkpoints loading problem"
I have downloaded the pre-trained checkpoint for OWL-ViT and when I try to load it on my personal machine, as a part of OWL-ViT minimal example.ipynb, but I get this error:
[code]
flax                              0.5.3
jax                               0.3.16
jaxlib                            0.3.15
tensorboard                       2.9.1
tensorboard-data-server           0.6.1
tensorboard-plugin

[2022-08-17 10:25] HITerStudy commented on #433
@mjlm hello, thanks for your fancy work! When the all of codes can be updated? Please offer the full codes which include the configs for experiments published in the paper. Thanks!

[2022-08-17 12:34] mjlm commented on #449
Hi,

I just double-checked, the minimal colab works in the public runtime. So I can think of two possible issues:

1. Perhaps the checkpoint download is incomplete, or the file you're trying to load does not match the config (e.g. downloading the B/16 checkpoint but using the B/32 config).
2. Some package incompatibility. I pasted the output of `pip freeze` in the (working) colab here: https://gis

[2022-08-17 13:10] Karimashraf01 opened #452 "Is there a way to Convert Owl-ViT to ONNX to be later converted to TensorRT?"
Thanks for your amazing work.  Are you planning on releasing a way to convert Owl-ViT to ONNX?

[2022-08-17 14:38] mjlm commented on #452
We have a [colab](https://colab.research.google.com/github/google-research/scenic/blob/main/scenic/projects/owl_vit/notebooks/OWL_ViT_Export_JAX_model_to_TensorFlow_SavedModel.ipynb) that shows how to convert the JAX model to a TensorFlow `tf.SavedModel`. I believe you can then convert the `tf.SavedModel` to TensorRT with something like this (I haven't tested this):

[code]

Please let us know if

[2022-08-17 18:20] farrokhsiar commented on #449
Thanks mjlm.
To close the ticket, I could solve it by moving the file to another gs bucket. Apparently, the path to checkpoint cannot be in local directory.

[2022-08-19 01:20] brettkoonce opened #460 "imagenet demo not working out of the box"
see also https://github.com/google/flax/issues/2403

flax 0.6 moved some things about, the resnet/vit demos will need to be updated:

`python3 scenic/main.py  --config=scenic/projects/baselines/configs/imagenet/imagenet_resnet_config.py  --workdir=/code/resnet-v3`
[code]

[2022-08-20 02:00] twjang opened #463 "Notebook callback name"
Hello, I came across this code.

https://github.com/google-research/scenic/blob/471da6bff844b102ef1527bc3489b3290a4f2d21/scenic/projects/owl_vit/notebooks/interactive.py#L18

Should it be changed to `'image_conditioning_py_callback'`, or is it okay to leave it as it is?

[2022-08-20 09:17] mjlm commented on #463
Thanks for pointing this out. I think you're right, although it's not a big problem in practice since you can just re-run the corresponding Colab cell to re-register the appropriate callback. Fixed in #464

[2022-08-20 09:17] #463 closed

[2022-08-20 18:31] briancheung opened #465 "Running scenic models without downloading datasets"
Is there a way to avoid the `train_utils.get_dataset()` call for running these models if I'm only interested in inference of trained models?

The problem I'm having is that the things that derive from `class BaseModel` (https://github.com/google-research/scenic/blob/31bbf1a79b1b984a0b4febe6ca1475577fb6121f/scenic/model_lib/base_models/base_model.py#L33) require a `dataset_meta_data: Dict[str, Any]

[2022-08-21 14:59] DonaldKam opened #466 "Why did you say 'bottleneck'?"
The authors say 'bottleneck' but why call that so? It seems the authors did not explain what 'bottleneck' refers to in the paper? Can you clarify?

[2022-08-22 11:22] MostafaDehghani commented on #466
Hey,
Scenic is hosting multiple projects related to multiple paper. Can you elaborate which project/paper you're referring to?

[2022-08-23 13:29] Soldelli opened #470 "Unable to install environment"
I am unable to install the environment through `pip install .`
Follows the error trace:

[code]

[2022-08-24 03:58] eringrant commented on #465
+1.

[2022-08-24 04:04] moabarar opened #473 "CLIP Weights are stored as float16"
Dear the Scenic team,

I wanted to point out that the original torch CLIP Weights are stored in float16. But when used in Scenic, the Flax Module is defined with float32 weights. This doesn't cause problems during forward pass, but when I tried to fine-tune  CLIP this caused unexpected errors on a TPU.

This could be overflow/underflow issues or the TPU isn't meant for float16 - this is the messag

[2022-08-25 13:06] JTorres258 commented on #111
Hello everyone, I was getting a similar issue when I tried to run the example included in the README file:
[code]

[code]

It seems that I fixed it just by adding a blank `__init__.py` to both `scenic\train_lib\transfer` and  `scenic\train_lib\transfer\tests` folders, and redoing the installation with `pip install .`

[2022-08-25 14:22] gses82 commented on #460
I have the same issue. Adding `scenic/train_lib/transfer/__init__.py` and reinstalling scenic solved my problem.

[2022-08-26 09:31] encounter1997 opened #475 "OWL-ViT low AP on LVIS"
Hi, thanks for your excellent work on OWL-ViT!

I tried to perform inference with the pre-trained model weights. On COCO 2017 dataset, it generally match the performance reported in the paper. However, the performance on LVIS nearly halves the AP performance reported in your paper.

I wonder why would this happen, and would you please provide the evaluation code on the LVIS dataset?

[2022-08-26 12:25] JTorres258 opened #476 "FLAX 0.6.0 has removed 'optim' module"
Hi, I am trying to run a training process with MTV on a custom dataset. When executing the code, I got the following error:

`ImportError: cannot import name 'optim' from 'flax'`

I have been researching on my own a little bit and, according to [this issue in FLAX package](https://github.com/google/flax/issues/2273), they have removed `flax.optim` in FLAX 0.6.0. I had to downgrade to FLAX 0.5.3 fo

[2022-08-26 16:17] cuiziteng opened #477 "Training Resolution in OWL-ViT"
Hello, thanks for the nice work~

I see the CLIP's resolution is a fixed parameter, because the position embedding shape is related to the image size (224, 224) or (384, 384). So what have you done to adapt the resolution in CLIP's visual encoder to 768x768, thanks!

[2022-08-29 12:28] AlexeyG commented on #477
Hi @cuiziteng

Thank you for your interest in OWL-VIT. In order to be able to apply pre-trained CLIP models at a different resolution we resize their learned positional embeddings prior to fine-tuning them as part of OWL-ViT training. The actual code will be available as part of the open-source release of the trainable model. But as preview, the resizing looks very similar to the code for the Scen

[2022-08-29 12:28] #477 closed

[2022-08-29 12:38] AlexeyG commented on #475
Hi @encounter1997

Thank you for your interest in OWL-ViT. It's great to see that you're digging deep and reproducing various reported numbers!

It's a bit surprising that you are able to match COCO AP but not LVIS AP since the eval for the two is rather similar. Unfortunately, we do not have any immediate plans to open source the evaluation code. But we plan to address this in the upcoming open s

[2022-08-29 12:39] AlexeyG commented on #473
Hi @moabarar

Thank for figuring this out. Would you like to propose a PR for your fix?

~ Alexey

[2022-08-30 14:27] likeyouli commented on #111
I had the same problem，you can try insert:
" import os, sys
 sys.path.append(os.getcwd())" before "from scenic import XXX".

[2022-09-01 14:15] i2mironov commented on #413
Is there any chance you'll implement one-shot object detection part of the model?

[2022-09-01 16:05] alaradirik commented on #413
Hi @i2mironov, yes, we are currently working on it and you can expect to see it as a part of the HF OWL-ViT model very soon.

Hope this helps :)
Alara

[2022-09-06 12:56] mjlm commented on #449
Great that it works now, thanks for following up. I'll look into why it doesn't work with local files.

[2022-09-06 12:56] #449 closed

[2022-09-11 16:21] chtlp commented on #413
Hi, great work about the HF model! We are looking forward to the one-shot object detection function as well, hopefully with a Gradio demo :)

[2022-09-12 09:13] yangjiangeyjg commented on #254
Hi, have you resolved these issues?

[2022-09-12 09:14] yangjiangeyjg commented on #254
Hi, have you resolved these issues?

[2022-09-12 09:14] yangjiangeyjg commented on #254
Hi, have you resolved these issues?

[2022-09-13 02:02] yangjiangeyjg commented on #254
Hi, have you resolved these issues?

[2022-09-13 08:13] yangjiangeyjg commented on #254
Hi, could you disclose the processed data?

[2022-09-14 15:18] tejas-gokhale commented on #413
@alaradirik I'm trying to run OWL-ViT object detection on GPU.  However, this results in the error:
[code]
see the code below:
[code]

Could you take a look? FYI, I am using python 3.8.13 and transformers 4.21.3

[2022-09-14 16:09] alaradirik commented on #413
Hi @tejas-gokhale, we fixed this bug a few weeks ago with this [PR](https://github.com/huggingface/transformers/pull/18303) but the changes are not released as a PyPI package yet.

The next release is actually scheduled for today so you can either update the package tomorrow or install transformers from source:
`pip install git+https://github.com/huggingface/transformers.git`

[2022-09-16 00:38] ngthanhtin opened #507 "[OWL_ViT] Convert output box predictions to image coordinate?"
Hi,
I don't know how to convert the coordinates of predicted boxes to the coordinate of an image to visualize it.
Could you please point that out?

[2022-09-16 02:00] wavinflaghxm opened #508 "[OWL-ViT] De-duplication results."
Hi, thanks for the nice work!
Can you provide the annotation file of the training dataset after de-duplication (Table A2)?

[2022-09-16 03:52] #507 closed

[2022-09-18 07:18] nku-zhichengzhang opened #510 "[MBT] Input Data Format for AudioSet"
I'm working on reproduce the results in your paper "Attention Bottlenecks for Multimodal Fusion" and try to implement MBT for other audiovisual video classification tasks.

However, the preprocessing for dataset (e.g. AudioSet, Kinetics-Sounds) is non-trivial, even with the provided examples in ViViT. And the main confusing part is about extracting audio (i.e. spectrogram). The recommended code of

[2022-09-18 14:14] tejas-gokhale commented on #413
Thanks @alaradirik -- I can confirm that installing `transformers` via source (4.23.0.dev0) works!

[2022-09-18 15:29] zzh-tech commented on #413
Great implementation! I'm looking forward to the one-shot object detection function too!

[2022-09-21 13:00] yangjiangeyjg commented on #510
Good question!

[2022-09-23 18:52] zzzzrrrrrrr opened #511 "AttributeError: module 'jaxlib.pocketfft' has no attribute 'pocketfft'"
After running the pip install -r requirements.txt, I still can't run the code and the error is "AttributeError: module 'jaxlib.pocketfft' has no attribute 'pocketfft'". How can I install pocketfft?

[2022-10-04 22:09] Li-En-Good opened #527 "How to implement baseline models/ construct new network?"
Hi,
I checked the "getting started" and the readme in baselines, but I am still not clear about where to start.
For example, say I want to use the Unet in the baselines.
I have CSV files indicating the corresponding signal and ground truth images.
How to implement that into the code?
Is there an example code or step-by-step example for running the training and prediction?
Thanks a lot!

[2022-10-05 22:01] Li-En-Good commented on #527
The segmentation model is deprecated.

[2022-10-08 08:52] AlexeyG commented on #508
Hi @wavinflaghxm

We prepared a list of image IDs removed as a result of de-duplication. This can be used to filter the original annotation files.
You can find the zip file with 3 JSONs listing the removed IDs [here](https://drive.google.com/file/d/1SkdnDTaVNifBHH6AjzBWFmBQEaSSUXtU/view?usp=sharing).

Please let me know if you have further questions.

Best,
Alexey

[2022-10-08 08:52] #508 closed

[2022-10-08 08:53] AlexeyG commented on #511
This looks like a question about JAX. Probably best asked there (i.e. https://github.com/google/jax)

[2022-10-08 08:53] #511 closed

[2022-10-09 23:58] ngthanhtin opened #530 "The Inference time of OWL_VIT?"
Hi @ayp-google, @mjlm , @general,
Thank you for your great work on open-vocabulary detection. I am a student working on open-world detection.
I have a question related to the inference time on an image. When I run the [code](https://colab.research.google.com/github/google-research/scenic/blob/main/scenic/projects/owl_vit/notebooks/OWL_ViT_minimal_example.ipynb) (following your provided notebooks)

[2022-10-10 09:39] FrancescoSaverioZuppichini commented on #530
Get a better GPU, colab uses a `t4` that is a very power efficient GPU but not as powerful as a v100

[2022-10-10 09:40] FrancescoSaverioZuppichini opened #531 "Dockerfile"
Dear all,

I hope you are doing well. Can you provide a docker file to run scenic? It looks like there are quite a lot of deps (even with tensorflow 🤢) for jax-only models. It would help the community a lot, improving usability and sharability.

Thanks,

Francesco

[2022-10-10 10:14] mjlm commented on #530
Please see #330:

[2022-10-10 10:14] #530 closed

[2022-10-10 10:15] #452 closed

[2022-10-10 12:01] FrancescoSaverioZuppichini opened #533 "OWL-ViT correct instructions to run it."
Dear all,

I hope you are doing great. I am trying to run your code using the following docker file

[code]

Then,

[code]

I have a `demo.py` file

[code]

If I try to run it I get the following error

[code]

Thanks,

Francesco

[2022-10-13 08:55] JordanH-app opened #534 "Questions about OWL-ViT TFLite conversion"
Hello!

I'm interested in trying a TFLite version of OWL-ViT for zero-shot object detection.
I've tried the Google Colab notebook for TFlite conversion but I'm facing two problems.

Problem 1

The "end-to-end" tflite file is about 1.5GB, while the pb file is only 60MB.
Why is the TFlite model much larger than the Tensorflow one? I used to think that tflite models are lighter than their Tensorflow

[2022-10-13 09:43] mjlm commented on #534
Hi Jordan,

Here are some thoughts on the issues you mention:

**Problem 1**: It looks to me like the tflite file includes the model parameters, but the pb file does not. The parameters are on the order of 1GB depending on the architecture. This will be hard to get around without reducing the architecture size. Quantization of model parameters might be a way to save space but we haven't tried that

[2022-10-14 00:26] anjugopinath opened #536 "ModuleNotFoundError: No module named 'simclr.tf2'"
I am getting this error when I execute the command given in the readme.:
ModuleNotFoundError: No module named 'simclr.tf2'

[2022-10-14 06:40] JordanH-app commented on #534
Hi Matthias,

Thank you very much for your support!

Nothing is decided yet, but there is a chance that my team investigates post-training quantization of OWL-ViT.

I tried converting OWL-ViT to TFLite on GPU and TPU runtimes but the sessions crashed too.
I'll give it a try on a local machine by following the instructions you provided.

 For the moment, I think this issue can be closed.

Jordan

[2022-10-14 07:48] mjlm commented on #534
Sounds good. Please let me know how the quantization goes!

[2022-10-14 07:48] #534 closed

[2022-10-17 13:08] mjlm commented on #433
We just published the [training code](https://github.com/google-research/scenic/tree/main/scenic/projects/owl_vit#training).
Please let us know if you have any questions.

[2022-10-17 13:08] #433 closed

[2022-10-17 13:10] mjlm commented on #470
I see `error: HTTP Error 400: Bad Request`, could this be some connectivity or firewall issue? Maybe just try again?

[2022-10-17 13:12] mjlm commented on #533
This looks like an "out of memory" error. How much memory does your GPU have? You could try to run on CPU by using a non-CUDA installation. It will be very slow, but it might be useful for debugging.

[2022-10-17 13:22] ronhag commented on #433
Hi there! Exciting news about the training code, thanks a lot!

When could we expect finetuning instructions? Is it mostly similar to training detection from scratch (some smaller learning rate here and there)? Or are there any other tips to be aware of? :)

thanks so much!

[2022-10-18 10:11] FrancescoSaverioZuppichini commented on #533
Actually, the model failed to load on gpu and tries to run on cpu

[2022-10-18 12:07] shay1bz commented on #470
+1
Running behind corp proxy, getting 502 on the same spot. `http_proxy` properly set.

[2022-10-18 21:33] BDHU commented on #254
@wentaozhu Following this up, any updates on this?

[2022-10-18 21:34] a-nagrani commented on #254
No sorry, we cannot release the processed data either.

On Tue, Oct 18, 2022 at 5:33 PM Edward Hu ***@***.***> wrote:

[2022-10-19 07:53] ronhag opened #542 "[OWL-ViT] Fine-tuning a trained OWL-ViT model on a small dataset"
Hi there!

Thanks for the great work with OWL-ViT and the rest of the library.

I was wondering if you guys could give some ideas as to how to finetune a pretrained owl-vit model to a small dataset.

Also, I'm curious as to what are your thoughts about the following:
- would it be enough to fine-tune the learned shift and scale only?
- My intuition about the learned shift and scale is to learn a m

[2022-10-19 08:53] mjlm commented on #433
We just added fine-tuning instructions to the [README](https://github.com/google-research/scenic/tree/main/scenic/projects/owl_vit#fine-tuning).

The config is very similar to the from-scratch config. The only crucial difference is that instead of `config.init_from.codebase = 'clip'`, it uses `config.init_from.checkpoint_path = 'path/to/parent/checkpoint'`.

However, some other changes may be nece

[2022-10-19 08:55] pablopalafox commented on #433
Awesome! Thanks @mjlm, super interesting tips. I'll keep them in mind!

[2022-10-19 09:06] #542 closed

[2022-10-19 09:09] ronhag commented on #542
Noted! Thanks for overview. I'll reopen if I have other questions :)

[2022-10-19 09:26] mjlm commented on #531
Hi Francesco,

Unfortunately, I have little experience with Docker. Would you be willing to draft a docker file based on the [installation instructions](https://github.com/google-research/scenic/tree/main/scenic/projects/owl_vit#installation) in the README? Once we have a starting point, I'm happy to test and debug it to make it work.

Thanks,
Matthias

[2022-10-19 09:51] mjlm commented on #531
Ah I saw that you provided this in #533, I'll test this.

[2022-10-19 13:19] FrancescoSaverioZuppichini commented on #531
@mjlm happy to help! Let me try to find sometime this we :)

[2022-10-19 14:54] mmaz opened #544 "tf-models-official import in video_ops"
Hi, I'm exploring the MBT project and wasn't sure which package resolves the following import in [`scenic/dataset_lib/video_ops.py`](https://github.com/google-research/scenic/blob/87aedb0e5dc19d8536e96d2e6210ac569b55bf7f/scenic/dataset_lib/video_ops.py#L35)

`from official.vision.image_classification import augment`

Is this available in another package besides `tf-models-official` now? I saw that

[2022-10-20 03:45] anjugopinath opened #545 "Evaluation on custom images"
What is the command to evaluate on custom images?

[2022-10-20 07:34] mjlm commented on #545
Which [project](https://github.com/google-research/scenic/tree/main/scenic/projects) are you asking about?

[2022-10-20 15:30] anjugopinath commented on #545
Sorry.. this one:
https://github.com/google-research/scenic/tree/main/scenic/projects/mtv

[2022-10-23 22:08] anjugopinath commented on #544
I am getting the same error.  What is the fix?

[2022-10-24 08:29] maxfrei750 opened #547 "OWL-ViT: Tensorflow checkpoints as downloads"
Hi @mjlm! Thanks for your awesome work on OWL-ViT!

IMHO, it would be convenient to users and also more sustainable, if you would make the checkpoints for tensorflow available as downloads. Like that, people would not have to convert them themselves using the [export notebook](https://colab.research.google.com/github/google-research/scenic/blob/main/scenic/projects/owl_vit/notebooks/OWL_ViT_Export

[2022-10-24 16:36] mjlm commented on #547
Hi Max,

Thanks for the suggestion. I added the tf.SavedModel versions to the cloud storage bucket here:
[code]

We'll update the README soon to include this info.

[2022-10-24 16:36] #547 closed

[2022-10-24 17:41] maxfrei750 commented on #547
Thanks for the quick reply!

I tried to download the first file using https://storage.googleapis.com/scenic-bucket/owl_vit/checkpoints/clip_vit_b16_6171dab_tf_model/, but received

[code]

Am I missing something?

Thanks!

[2022-10-25 07:19] mjlm commented on #547
You can access the files in code like this: `tf.io.gfile.listdir('gs://scenic-bucket/owl_vit/checkpoints/clip_vit_b32_b0203fc_tf_model')`.

[2022-10-25 08:02] maxfrei750 commented on #547
Thanks for the clarification, but I was looking for a way to directly download the files to my local drive. Is there a way to do this as of now?

[2022-10-25 08:17] mjlm commented on #547
You should be able use `tf.io.gfile.copy` on your local machine to copy from a gs:// path to a local path. https://www.tensorflow.org/api_docs/python/tf/io/gfile/copy

[2022-10-25 08:56] BigJoon commented on #545
I just read that awesome "Multiview Transformers for Video Recognition" paper. And then, my mind come up with getting inference result using mtv with some of my video contents...but i couldn't find inference code. Is there any inference code with test videos or .. a command I might have missed ?

[2022-10-25 12:55] Claire874 opened #551 "ERROR: Could not find a version that satisfies the requirement tf_nightly==2.9.0.dev20220401 (from scenic) (from versions: none)"
When I tried to install scenic
I run ` pip install .` and get this error.
**ERROR: Could not find a version that satisfies the requirement tf-nightly (from versions: none)
ERROR: No matching distribution found for tf-nightly**
when I tried to run `!pip install tf-nightly`
here is the result:
!pip install tf-nightly
pip install . install tf-nightly
Looking in indexes: https://pypi.tuna.tsinghua.edu

[2022-10-25 13:43] Claire874 commented on #551
`pip install . -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com`
I run it in this way, seems successfully

[2022-10-25 16:25] BDHU opened #552 "[MBT] Inference only"
Are there any ways to bypass the data-preprocessing step for MBT ("Attention Bottlenecks for Multimodal Fusion") if I only wanna do inference without passing in the actual data from AS? I notice the main file requires config file from AudioSet. Is there any way to just perform inference with all-zero inputs? Never mind inference on the actual datasets as this is just PITA. Thanks!

[2022-10-27 08:42] BigJoon commented on #476
Thanks to you, I was able to install the essential modules!

[2022-10-27 08:50] BigJoon commented on #531
i can provide my Dockerfile.
`
FROM nvidia/cuda:11.7.1-cudnn8-devel-ubuntu20.04

ENV TZ Asia/Seoul
ENV LC_ALL=C.UTF-8
ENV LANG=C.UTF-8
ARG DEBIAN_FRONTEND=noninteractive

RUN apt-key adv --keyserver keyserver.ubuntu.com --recv-keys A4B469963BF863CC

RUN rm /etc/apt/sources.list.d/*
RUN apt-get update && apt-get -y install \
    python3 python3-pip python3-dev \
    jupyter-notebook \
    git ssh v

[2022-10-27 10:00] ronhag opened #554 "[OWL-ViT] Support for instance segmentation?"
Hi there!

I was wondering if you guys are considering adding support for instance segmentation. It'd be really awesome!

Do you have any ideas as how to implement such feature? Do you think that a DETR-like approach would work?

Given that we don't have a decoder in OWL-ViT (unlike DETR), it may be that simply adding an FPN-style CNN after the attention maps of the OWL-ViT encoder would not work.

[2022-10-27 11:50] FrancescoSaverioZuppichini commented on #531
@BigJoon neat, thanks a lot :pray:

[2022-10-27 20:05] ronhag opened #559 "[OWL-ViT] Checkpoint for R50+H/32 architecture"
Hi scenic team!

Will you guys by any chance release the **R50+H/32** checkpoint? From reading the paper (Table 2), it seems that version is the best-performing model for one or few-shot learning (please correct me if I'm wrong).

Thanks in advance!

[2022-10-28 20:32] kdcd opened #560 "[OWL-ViT] Finetuning 'Could not find parameter named "scale"'"
Hello

Thank you for the great work!
I have tested evaluation, and training, but got exception on finetuning.
It seems some inconsistency between clip weights in checkpoint and flax version.  Maybe you can provide pip freeze from the system where you have tested finetuning?

Traceback (most recent call last):
  File "/usr/lib/python3.8/runpy.py", line 194, in _run_module_as_main
    return _run_co

[2022-10-29 07:22] raymond1123 commented on #554
I am looking forward the instance segmentation too.
@ronhag I just mentioned a paper "Image Segmentation Using Text and Image Prompts", not sure whether this is inspired to you.

[2022-11-01 10:49] mjlm commented on #559
Hi,

We're not planning to release the R50+H/32 checkpoint but the CLIP L/14 checkpoint should perform similar or better (we hadn't trained that yet when we made Table 2 for the paper). Please try that and let us know how it goes.

Best,
Matthias

[2022-11-01 10:49] #559 closed

[2022-11-01 14:01] jakubMitura14 opened #564 "any models apart from unet for segmentation of 3d images (medical imagiing)"
Are there any models apart from unet that are already implemented in scenic and that can be used for segmentation of multichannel 3d images (medical imagiing) ?

[2022-11-04 13:46] ronhag commented on #560
Found the same issue.

Not sure if this is the cause, but in this line https://github.com/google-research/scenic/blob/main/scenic/projects/owl_vit/trainer.py#L271 the model keys are changed from `ln_1` and `ln_2` to `ln_0`  and `ln_1`. @mjlm do you think this could the the reason? I'm not well-versed in flax yet, so not sure what's going on behind the scenes when we do `model.flax_model.bind({}).l

[2022-11-04 17:47] vineetparikh opened #569 "[ViViT/MTV for EPIC-Kitchens] What is the expected DMVR label?"
When preparing EPIC-Kitchens 100 for use with MTV, I'm finding that to set up the CSV to pass into DMVR, I would need to define a single label by encoding the verb and noun labels. How did ViViT and MTV write these labels within their CSV? Currently I'm doing something like
[code]
which is essentially appending the verb and noun words together to create the final label. However, it's unclear as to

[2022-11-07 09:20] kxqt opened #573 "OWL-ViT: evaluation on LVIS gets stuck while preparing dataset"
Hi! Thanks for your awesome work on OWL-ViT!

However, I have met a problem on using the project. I followed the instruction in README.md to prepare the environment, and installed third-party library. And I used the example [command](https://github.com/google-research/scenic/tree/main/scenic/projects/owl_vit#evaluation), trying to evaluate. But the program got stuck on [this line](https://github.c

[2022-11-08 04:08] rdilip commented on #551
Seconding that @Claire874 's solution worked for me -- that said, it would be nice to get this dependency fixed.

[2022-11-08 12:42] StonePanda commented on #470
Hello, have u resolve this problem ? I have met a smilar one which get "error: [Errno socket error] [Errno 111] Connection refused",  and still have no idea how to resolve it.

[2022-11-09 01:06] WangzcBruce commented on #552
Excuse, have you worker it out?

[2022-11-09 05:02] JosephChenHub opened #581 "Document required or more illustrations"
Hi, very nice work!  I am confusing and struggled in executing the experiments. Could you provide more descriptions ? For example,  in projects/vivit,
1. how can I do inference only ?
2. how to use multiple GPUs and set the number of GPUs ?
3. how to properly load the pre-trained model ?

The readme is too simple and hard to follow.

[2022-11-10 18:40] rdilip opened #585 "Detr module doesn't work out of the box"
There are a variety of issues with the code suggested in the README of the detr baseline. Some of these are resolvable, but it feels like this should be updated accordingly. I haven't yet gotten the detr implementation to train successfully, so I'm not able to make a pull request yet. Would someone be able to assist in getting a minimal version up and running?

Here the changes I've made thus far

[2022-11-13 12:15] bhack opened #587 "AOT models for VOS"
Any plan to have some recent AOT models for VOS/Panoptic VOS?

https://arxiv.org/abs/2210.09782
https://arxiv.org/abs/2203.11442
https://prints.vicos.si/publications/416

https://github.com/z-x-yang/AOT
https://github.com/yoxu515/aot-benchmark

/cc @yoxu515 @z-x-yang

[2022-11-13 14:42] MostafaDehghani commented on #585
Thank you @rdilip for your feedback and for listing all the issues. We are aware of almost all these and planning to fix them up, but it'll take some time (hopefully these will be fixed before end of the year). In the meantime, we open-sourced the [Deformable DETR](https://github.com/google-research/scenic/tree/main/scenic/projects/baselines/deformable_detr), in which many of these issues are reso

[2022-11-14 09:53] mjlm commented on #470
I don't have a specific solution but general advice: The setup and code needs to download some data files, e.g. some components for SimCLR, CLIP tokenizer vocabulary files, and possibly others. Looking  at the error posted above, the issue is in `simclr_download`. So I would start looking there for debugging. If you search the Scenic code for this term, you will find that it is used in `setup.py`:

[2022-11-14 10:40] mjlm commented on #551
Should be fixed by f84823a.

[2022-11-14 10:40] #551 closed

[2022-11-14 10:44] mjlm commented on #573
This looks like a [TFDS](https://www.tensorflow.org/datasets/api_docs/python/tfds) issue rather than an OWL-ViT issue. If you already have the TFDS version of LVIS on disk, you can point the code to the local data dir like this (note the `"tfds_data_dir": "//your/data/dir"` parts):

[code]

[2022-11-14 10:44] #573 closed

[2022-11-15 07:58] timothylimyl opened #591 "Why does zero-shot detection always have an output in target image?"
It seems that even if the objects is clearly not in the target image, it will give a prediction regardless of how high I put the confidence/IOU threshold to be.

I am thinking of using the zero-shot detection as an automatic search function. It searches for similar objects in a datasets based off the query from an image containing the object given by the user. It won't make much sense if it also q

[2022-11-15 15:04] ronhag commented on #560
Hi there! @mjlm I'm unfortunately still facing the same issue that the parameter `scale` was not found. Any ideas why this could be the case?

[2022-11-15 16:25] parhameftekhar opened #592 "ModuleNotFoundError: No module named 'official'"
I'm trying to train a mbt model. However, I got the following error:

Traceback (most recent call last):
  File "/home/eftekhar/anaconda3/lib/python3.9/runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/home/eftekhar/anaconda3/lib/python3.9/runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "/home/eftekhar/models/scenic/scenic/proje

[2022-11-16 07:35] Claire874 commented on #592
I encoutered the same problem.

[2022-11-16 22:07] BDHU commented on #552
Unfortunately no:(

[2022-11-22 09:50] lmazzon opened #593 "[ViViT for K400] Cannot configure ViT pretraining"
Dear All,
I'm trying to reproduce the steps necessary to train a ViVit model on a Kinetics dataset, in order to
move next to a custom dataset.

Starting from the configuration file

scenic/projects/vivit/configs/kinetics400/vivit_large_factorised_encoder.py

I have problems when preloading the ViT weights...

As suggestes in the README:

_"To train a model, please download a pretrained ViT image m

[2022-11-22 13:46] mjlm commented on #591
I assume you're referring to the [inference playground colab](https://colab.sandbox.google.com/github/google-research/scenic/blob/main/scenic/projects/owl_vit/notebooks/OWL_ViT_inference_playground.ipynb) or the [web demo](https://owlvit-tgc6as3cga-ew.a.run.app/) (please let me know if not). Both of these are designed for interactive exploration and will scale the prediction such that at least one

[2022-11-22 13:46] #591 closed

[2022-11-22 19:16] StonePanda opened #598 "[vivit for ssv2] Inconsistent shapes between value and initializer for parameter "pos_embedding" in "/SpatialTransformer/posembed_input": (1, 197, 1024), (1, 257, 1024)."
Dear All, thank you for your great work!
I am trying to train vivit on ssv2, here is the command:
`python -m scenic.projects.vivit.main --config=scenic/scenic/projects/vivit/configs/something_something_v2/vivit_large_factorised_encoder.py --workdir=myworkdirpath/`
and here is the Initialisation config:
[code]
I download the ImageNet Checkpoint from [(https://github.com/google-research/scenic/tree/

[2022-11-23 02:30] StonePanda commented on #598
I am also confused the checkpoint needed in workdir. If there is no checkpoint, this error happens:
[code]

[2022-11-23 04:30] StonePanda commented on #123
I have a similar issue, have you known that which version of the model works?

[2022-11-24 14:05] FancyL1999 commented on #123
I have a similar issue

[2022-11-26 11:05] satojkovic commented on #592
@parhameftekhar @Claire874
I ran into the same problem. So I did the following to solve the problem.

1. ```pip install tf-models-official```
2. Modify the import -> ```from official.legacy.image_classification import augment```

Please try it out.

[2022-11-28 16:03] 25icecreamflavors opened #611 "[OWL-ViT] Finetuning l14 on own dataset"
Hello, is it possible to finetune owl-vit14 on my own dataset? I saw a script for finetuning 32 version, but I really need l14. Also, what format of the dataset should be there to finetune? How do I put my data (images, texts, boxes) in the correct format?

[2022-11-30 07:05] timothylimyl commented on #413
[code]

@tejas-gokhale , how did your code manage to run? The outputs has not been converted back to CPU.

[code]

I have already updated to transformers 4.24.0